{
  "comments": false,
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "modules": false,
        "exclude": [
          "transform-typeof-symbol"
        ],
        "targets": {
          "node": "6.9"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    [
      "@babel/plugin-transform-modules-commonjs",
      {
        "lazy": true
      }
    ]
  ]
}